@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Custom styles (exemplo do shadcn) */
@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
